asn1crypto==0.24.0
bcrypt==3.1.4
certifi==2018.4.16
cffi==1.11.5
cryptography==2.3
django>=2.1.2
django-six==1.0.4
gunicorn==19.9.0
idna==2.7
paramiko>=2.4.2
pyasn1==0.4.4
pycparser==2.18
PyNaCl==1.2.1
pytz==2018.5
six==1.11.0
spur==0.3.20
whitenoise==3.3.1

