<!DOCTYPE html>
<html>
    
    <head>
        <title></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>

    <body>
        
        <div class="container">

            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="/home">Web-ssh</a>
            </nav>
        
            <div class="container">

                <div class="input-group">
                        &nbsp;
                </div>

                <h1 class="display-1">Cannot establish ssh connection</h1>
                <h4>Back to <a href="/home/">Home</a></h4>

            </div>
        </div>

    </body>

</html>